body {
  background-color: darkgreen;
  color: lightblue;
  Font-family: Arial, helvetica, sans-serif;
  text-align:center;
}
.info-section{
  border-bottom:1px solid;
  border-block-end-style: groove;
writing-mode: horizontal-tb;
}

