body {
  background-color: darkgreen;
  color: lightblue;
  Font-family: Arial, helvetica, sans-serif;
  margin-left:20%,10%;
}

italic{
  font-style: italic;
}

.info-section{
  padding-left: 10px;
  font-weight: bold;
  }

.pro-exp{
box-sizing: border-box;
width: 80%;
border: solid black 1px;
padding-left: 5px;
}

.edu-section{
box-sizing: border-box;
width: 80%;
border: solid black 1px;
padding-left: 5px;
text-align: left;
}



